.phone {
    position: fixed;
    width: 20%;
    height: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #474e5d;

    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
}

.phone .screen {
    background-color: #FFF;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%%;
    height: 80%;
}

.phone .button {
    background-color: #FFF;
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -10%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

body {
    background-color: #00c599;
}
