.container {
    position: fixed;
    width: 40%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkgrey;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
    box-shadow: 5px 7px 70px darkgray;
}
